@{
   
    ViewBag.Title = "Index";
}


<h1 class="page-header">总览</h1>
<div class="row">

   
        .title{
             padding:0px 15px 10px 15px;
        }

       

        <div class="col-md-3 title">
         <div style=" border-radius:5px; border-left:12px solid #0083db; padding:5px 0px 5px 0px; font-size:25px; text-align:center; color:White; background-color:#0099FF;">
         <img src="@Url.Content("~/Areas/Admin/Content/img/master/新增用户.png")" />
         <div>新增会员</div>
         <div>780</div>
         </div>
       </div>

        <div class="col-md-3 " style="  padding:0px 15px 10px 15px; ">
         <div style="border-radius:5px; border-left:12px solid #02a553; padding:5px 0px 5px 0px; font-size:25px; text-align:center; color:White; background-color:#00CC66;">
         <img src="@Url.Content("~/Areas/Admin/Content/img/master/堂食订单.png")" />
         <div>堂食订单</div>
         <div>780</div>
         </div>
        </div>

        <div class="col-md-3 " style="  padding:0px 15px 10px 15px; ">
         <div style="border-radius:5px; border-left:12px solid #db4e4e; padding:5px 0px 5px 0px; font-size:25px; text-align:center; color:White; background-color:#FF6666;">
         <img src="@Url.Content("~/Areas/Admin/Content/img/master/外卖订单.png")" />
         <div>外卖订单</div>
         <div>780</div>
         </div>
        </div>

        <div class="col-md-3 " style="  padding:0px 15px 10px 15px; ">
         <div style="border-radius:5px; border-left:12px solid #e98725; padding:5px 0px 5px 0px; font-size:25px; text-align:center; color:White; background-color:#FF9933;">
         <img src="@Url.Content("~/Areas/Admin/Content/img/master/金额.png")" />
         <div>日销订单总金额</div>
         <div>¥780</div>
         </div>
        </div>
    
</div>

<div style=" height:10px;"></div>
<div class="row">
<div class="col-md-3">
<div class="panel panel-default" >
  <div class="panel-heading" >新增会员</div>
  <div class="panel-body">
   
       <div  style=" margin-top:10px;  padding-left:65px; line-height:50px; height:50px; position:relative; top:0px;  margin-left:10px;">
          <img width="50" style=" position:absolute; top:0px; left:0px; border-radius:80px;" src="@Url.Content("~/Areas/Admin/Content/img/master/tou1.jpg")" />
          <div style=""> Asen</div> 
       </div>

       <div  style=" margin-top:10px; padding-left:65px; line-height:50px; height:50px; position:relative; top:0px;  margin-left:10px;">
          <img width="50" style=" position:absolute; top:0px; left:0px; border-radius:80px;" src="@Url.Content("~/Areas/Admin/Content/img/master/tou2.jpg")" />
          <div style=""> 小明明</div> 
       </div>

       <div  style=" margin-top:10px;  padding-left:65px; line-height:50px; height:50px; position:relative; top:0px;  margin-left:10px;">
          <img width="50" style=" position:absolute; top:0px; left:0px; border-radius:80px;" src="@Url.Content("~/Areas/Admin/Content/img/master/tou3.jpg")" />
          <div style=""> Kim</div> 
       </div>

       <div  style=" margin-top:10px;  padding-left:65px; line-height:50px; height:50px; position:relative; top:0px;  margin-left:10px;">
          <img width="50" style=" position:absolute; top:0px; left:0px; border-radius:80px;" src="@Url.Content("~/Areas/Admin/Content/img/master/tou4.jpg")" />
          <div style=""> Dc</div> 
       </div>

       <div  style=" margin-top:10px;  padding-left:65px; line-height:50px; height:50px; position:relative; top:0px;  margin-left:10px;">
          <img width="50" style=" position:absolute; top:0px; left:0px; border-radius:80px;" src="@Url.Content("~/Areas/Admin/Content/img/master/tou5.jpg")" />
          <div style=""> 金灿灿</div> 
       </div>


  </div>
</div>
</div>

<div class="col-md-3">
<div class="panel panel-default" >
  <div class="panel-heading" >食堂订单</div>
  <div class="panel-body">
     今日暂无最新订单
  </div>
</div>
</div>


<div class="col-md-3">
<div class="panel panel-default" >
  <div class="panel-heading" >外卖订单</div>
  <div class="panel-body">
     今日暂无外卖订单
  </div>
</div>
</div>


<div class="col-md-3">
<div class="panel panel-default" >
  <div class="panel-heading" >日销订单总金额</div>
  <div class="panel-body">
     今日暂无订单
  </div>
</div>
</div>

</div>