@{
   
    ViewBag.Title = "总览";
}
@section CSS{
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Areas/Admin/Content/css/page/index.css?2")" />
}

@{
    Html.RenderPartial("~/Areas/Admin/Views/UserControl/Nav.cshtml");
 }
<div class="row">

        <div class="col-md-3 titleblock">
         <div class="blue">
         <img src="@Url.Content("~/Areas/Admin/Content/img/master/新增用户.png")" />
         <div>新增会员</div>
         <div>780</div>
         </div>
       </div>

        <div class="col-md-3 titleblock">
         <div class="green">
         <img src="@Url.Content("~/Areas/Admin/Content/img/master/堂食订单.png")" />
         <div>堂食订单</div>
         <div>780</div>
         </div>
        </div>

        <div class="col-md-3 titleblock">
         <div class="orange">
         <img src="@Url.Content("~/Areas/Admin/Content/img/master/外卖订单.png")" />
         <div>外卖订单</div>
         <div>780</div>
         </div>
        </div>

        <div class="col-md-3 titleblock">
         <div class="red">
         <img src="@Url.Content("~/Areas/Admin/Content/img/master/金额.png")" />
         <div>日销订单总金额</div>
         <div>¥780</div>
         </div>
        </div>
    
</div>

<div style=" height:10px;"></div>
<div class="row">
<div class="col-md-3">
<div class="panel panel-default" >
  <div class="panel-heading" >新增会员</div>
  <div class="panel-body">
   
       <a style="" href="#" class="item-userlist">
          <img width="50"  src="@Url.Content("~/Areas/Admin/Content/img/master/tou1.jpg")" />
          <div> Asen</div> 
       </a>

       <div  class="item-userlist">
          <img width="50"  src="@Url.Content("~/Areas/Admin/Content/img/master/tou2.jpg")" />
          <div> 小明明</div> 
       </div>

       <div  class="item-userlist">
          <img width="50" src="@Url.Content("~/Areas/Admin/Content/img/master/tou3.jpg")" />
          <div> Kim</div> 
       </div>

       <div  class="item-userlist">
          <img width="50" src="@Url.Content("~/Areas/Admin/Content/img/master/tou4.jpg")" />
          <div> Dc</div> 
       </div>

       <div  class="item-userlist">
          <img width="50"  src="@Url.Content("~/Areas/Admin/Content/img/master/tou5.jpg")" />
          <div> 金灿灿</div> 
       </div>
  </div>
</div>
</div>





<div class="col-md-3">
<div class="panel panel-default" >
  <div class="panel-heading" >食堂订单</div>
  <div class="panel-body">
  
     <a href="#"  class="item-order" style=" color:Black;">
        
        <div >单号</div>
        <div class="center">金额</div>
        <div class="right">下单时间</div> 
         <div style=" clear:both; float:none;"></div>
       
     </a>
 
     <a href="#"  class="item-order" style=" color:Black;">
        
        <div class="blue">A001</div>
        <div class="center">¥36</div>
        <div class="right">9:30</div> 
         <div style=" clear:both; float:none;"></div>
       
     </a> 
      
    
  </div>
</div>
</div>


<div class="col-md-3">
<div class="panel panel-default" >
  <div class="panel-heading" >外卖订单</div>
  <div class="panel-body">
     <a href="#"  class="item-order" style=" color:Black;">
        
        <div >单号</div>
        <div class="center">金额</div>
        <div class="right">下单时间</div> 
         <div style=" clear:both; float:none;"></div>
       
     </a>
 
  </div>
</div>
</div>


@*<div class="col-md-3">
<div class="panel panel-default" >
  <div class="panel-heading" >日销订单总金额</div>
  <div class="panel-body">
     今日暂无订单
  </div>
</div>
</div>*@

</div>