@{
    ViewBag.Title = "收货地址";
}
@section Css{
    <link rel="stylesheet/less" type="text/css" href="@Url.Content("~/Content/src/page/Address.less")" />
}

<div class="topbar-return">
        <div class="btn-left">
            <a href="@Url.Action("Index","Main")"> <img src="@Url.Content("~/Content/img/返回.png")" /></a>
        </div>
        收货地址
</div>

<div style=" height:35px; color:#0099FF; background-color:White; width:100%; line-height:35px; text-align:center;">
    新增收货地址<img style=" position:relative; top:6px; left:2px;" src="@Url.Content("~/Content/img/Dine/加.png")" width="20" />
</div>


<div class="item-img" >
        <img width="20" src="@Url.Content("~/Content/img/Dine/箭头.png")" />
   <b>收货地址1</b>
</div>

<div class="item-address" >
      <div>
        <span> 收货人</span>：林先生
      </div>
      <div>
        <span>联系电话</span>：13267993868
      </div>
      <div>
       <span>收货地址</span>：珠海市香洲区5栋三单元
      </div>
</div>


<div class="item-img" >
        <img width="20" src="@Url.Content("~/Content/img/Dine/箭头.png")" />
   <b>收货地址2</b>
</div>

<div class="item-address" >
      <div>
        <span> 收货人</span>：林先生
      </div>
      <div>
        <span>联系电话</span>：13267993868
      </div>
      <div>
       <span>收货地址</span>：珠海市香洲区5栋三单元
      </div>
</div>


<div class="item-img" >
        <img width="20" src="@Url.Content("~/Content/img/Dine/箭头.png")" />
   <b>收货地址3</b>
</div>

<div class="item-address" >
      <div>
        <span> 收货人</span>：林先生
      </div>
      <div>
        <span>联系电话</span>：13267993868
      </div>
      <div>
       <span>收货地址</span>：珠海市香洲区5栋三单元
      </div>
</div>






