@{
    ViewBag.Title = "会员中心";
}

@section CSS{
    <link rel="stylesheet/less" type="text/css" href="@Url.Content("~/Content/src/page/User.less?4")" />
} 

<div class="topbar-return">
        <div class="btn-left">
            <a href="@Url.Action("Index","Main")"> <img src="@Url.Content("~/Content/img/返回.png")" /></a>
        </div>
        会员中心
</div>

<div style=" height:8px;"></div>

<div class="item-user" >
  <img  width="60"  src="@Url.Content("~/Content/img/pic.jpg")" />
  <div>Asen</div>
  <div class="point">积分：476</div>
</div>


<div class="item-menu" >
<a href="@Url.Action("Order", "User")">
<div class="menu">
   <img class="select"  width="20" src="@Url.Content("~/Content/img/Dine/箭头.png")" />
   <img class="pic" width="32"  src="@Url.Content("~/Content/img/User/订单.png")" />
   <div>我的订单</div>
</div>
</a>

<a href="@Url.Action("Address", "User")">
<div class="menu">

   <img class="select" width="20" src="@Url.Content("~/Content/img/Dine/箭头.png")" />
   <img class="pic" width="32"  src="@Url.Content("~/Content/img/User/收货地址.png")" />
   <div>收货地址</div>
</div>
</a>

<a href="@Url.Action("Point", "User")">
<div class="menu">
   <img class="select" width="20" src="@Url.Content("~/Content/img/Dine/箭头.png")" />
   <img class="pic"  width="32" src="@Url.Content("~/Content/img/User/兑换.png")" />
   <div>积分兑换</div>
</div>
</div>
</a>

<a href="@Url.Action("Index", "Review")">
<div class="item-menu">
<div class="menu">

   <img class="select" width="20" src="@Url.Content("~/Content/img/Dine/箭头.png")" />
   <img class="pic" width="32"  src="@Url.Content("~/Content/img/User/点评.png")" />
   <div>餐厅评价</div>

</div>
</div>
</a>





